#announce-modal .modal-content {
  height: 100vh !important;
}

#announce-modal h1 {
  font-size: 14vw;
}

#announce-modal h4 {
  font-size: 10vw;
}

#announce-modal .modal-dialog {
  height: 100vh;
  width: 100vw;
  max-width: 100vw;
  margin: 0;
}

#large {
  height: 100%;
}

#header, #ticker {
  height: 10vh;
}

#vertical,
#large,
#horizontal {
  overflow: hidden;
}

.slim-logo img {
  height: 10vh;
  width: auto;
}

.main-content { 
  transition: all .3s ease-in-out;
}

#counter_carousel .carousel-item {
  height: 80vh;
  padding: 10px;
  display: inline-block;
}

#counter_carousel {
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
}

body {
  overflow: hidden !important;
}

.blink.ticket-no {
  animation: blinkingticket 1s infinite;
}

.blink.counter-no {
  animation: blinkingcounter 1s infinite;
}

.carousel-wrap {
  /* background-image: url("../background.jpg"); */
}

@keyframes blinkingcounter {
  0%{
    color: #dc3545;
  }
    
  100%{
    color: #343a40;
  }
}

@keyframes blinkingticket {
  0%{
    color: #dc3545;
  }
  
  100%{
    color: #ffff;
  }
}