.counter-card,
.department-card {
  transition: all .3s ease-in-out;
}

.department-select,
.counter-select {
  padding-bottom: 20px;
  flex-grow: 1;
}

.form-control:focus {
  border-color: var(--theme-primary);
}

.header-wrap {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.footer-wrap {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

body {
  height: 100vh;
  width: 100vw;
}

.nav-link.active {
  background-color: var(--theme-primary) !important;
}
.nav-link {
  border-radius: .5rem !important;
}

#counters .row {
  margin-left: -10px !important;
  margin-right: -10px !important;
}

#counters .col,
#counters .col-6,
#counters .col-4 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

#login-modal .modal-dialog {
  width: 90vw;
}

#login-modal .modal-footer {
  background-color: #ffffff !important;
  padding: 0px 20px 20px 20px !important;
  border: none !important;

}

#login-modal .modal-header {
  background-color: var(--theme-primary) !important;
  padding: 20px 20px 0px 20px !important;
  border: none !important;
}

html {
  scroll-behavior: smooth;
}