/* body {
  overflow: hidden;
} */

.logged-user img{
  width: 42px;
  height: 42px;
  border: 1px solid var(--theme-primary);
}
.slim-header {
  height: unset;
}

.main-content{
}

@media screen and (orientation: portrait) {
  .panel-wrap {
    flex-direction: column !important;
  }
  
  .summary-panel {
    width: 100vw;
  }
  
  .actions-panel {
    width: 100vw;
  }

  #ticket,
  #time {
    font-size: 3rem;
  }

  .summary-label {
    font-size: 1.25rem;
  }
}

@media screen and (orientation: landscape) {
  .panel-wrap {
    /* height: 100% !important; */
  }

  .summary-panel {
    width: 40vw;
    flex-grow: 1;
    height: 100%;
  }
  
  .actions-panel {
    width: 60vw;
    flex-grow: 1;
  }

  #ticket,
  #time {
    font-size: 1.5rem;
  }

  .summary-label {
    font-size: 1rem;
  }
}
.profile-pic img {
  border-style: solid;
  border-width: 1px;
  border-radius: 100%;
  padding: 2px;
  width: 32px;
  height: 32px;
}

.custom-oblong {
  border-radius: 1rem;
}

#feedback-modal .modal-dialog {
  max-width: unset !important;
}

#api_message.show{
  height: 15vh;
  width: 75vw;
  opacity: 1;
}

#api_message {
  height: 0;
  width: 0;
  opacity: 0;
  transition: all .3s ease-in-out;
}

#api_message p {
  font-size: 1.25rem;
  line-height: 1.25rem;
}
.actions-panel button {
  font-size: 3.5vmin;
}