.slim-logo a {
  color: inherit;
}

.logged-user img {
  border-color: #1CAF9A;
  
}
.slim-header-right .dropdown-c .nav-link .icon {
  color: #1CAF9A;
}

.main-content {
  height: calc(100vh - 75px);
}
.overflow-panel {
  transition: all .5s ease-in-out;
  transform: translateY(90%);
}

.overflow-panel.show {
  transform: translateY(0);
}

.actions-panel .btn {
  font-size: 5vh;
  padding: 0 !important;
  /*height: calc(33% - 15px);*/
  /*width: calc(50% - 7.5px);*/
  /*text-transform: uppercase;*/
}

.user-stats-wrap {
  height: 33%;
}