
.kiosk-dept-name {
  font-size: 36px;
  padding: 10px;
}

#confirm-modal .ticket {
  font-size: 5rem;
}

#confirm-modal .modal-dialog {
  max-width: 70vmin !important;
  width: 100%;
}

.welcome-wrap {
  position: absolute;
  top: 0;
  width: 100%;
}

.welcome-card {
  transition: all .5s ease-in-out;
}

#bg_slideshow {
  height: 100vh;
  width: 100vw;
}

#bg_slideshow .carousel-item,
#bg_slideshow .carousel-inner {
  height: 100%;
}

.branding-wrap .d-flex {
  width: auto;
}

.company-subtitle {
  line-height: 3vmin;
  font-size: 2.5vmin;
}

.ticker {
  line-height: 7.5vmin;
  font-size: 5vmin;
}

#ticket {
  display: none;
  text-align: center;
}

@media print {
  #confirm-modal,
  .container-fluid {
    display: none;
  }
  
  #ticket {
    display: block;
  }
}

@page {
  margin: 0;
}